@using Entities
@using Business

<h2>Remember!</h2>
<h4>To register an entry or exit of a product, you must first store it in its proper Warehouse</h4>

<div class="form-group">
    <select class="form-control" @onchange="ChangedWarehouse">
        <option value="">Select a warehouse...</option>
        @foreach (var warehouse in warehouses)
        {
            <option value="@warehouse.WarehouseId">@warehouse.WarehouseName</option>
        }
    </select>
</div>
<hr />
<EditForm Model="oInOut">
    <div class="form-group">
        <InputSelect class="form-control" @bind-Value="oInOut.StorageId">
            <option value="">Select a product...</option>
            @foreach (var storage in storages)
            {
                <option value="@storage.StorageId">@storage.Product.ProductName</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Write the quantity</label>
        <InputNumber class="form-control" @bind-Value="oInOut.Quantity" />
    </div>
    <div class="form-group">
        <InputCheckbox class="form-check-input" type="check" @bind-Value="oInOut.IsInput" />
        <label>It's an input?</label>
    </div>
    <div>
        <input class="btn btn-outline-success" type="button" value="@buttonValue" @onclick="SaveInOut" />
    </div>
</EditForm>
<div class="text-center h4">@message</div>

@code {
    List<Warehouse> warehouses = new List<Warehouse>();
    List<Storage> storages = new List<Storage>();
    InOut oInOut = new InOut();
    Product oProduct = new Product();
    Storage oStorage = new Storage();

    string message;
    string buttonValue => oInOut.IsInput ? "Check In" : "Check Out";

    protected override async Task OnInitializedAsync()
    {
        warehouses = BsWarehouse.WarehouseList();
    }

    private void ChangedWarehouse(ChangeEventArgs e)
    {
        var idWarehouse = e.Value.ToString();

        storages = BsStorage.StorageByWarehouse(idWarehouse);
    }

    private void SaveInOut()
    {
        oStorage = storages.LastOrDefault(s => s.StorageId == oInOut.StorageId);
        oProduct = oStorage.Product;

        if (oInOut.IsInput)
        {
            oStorage.ProductQuantity = oStorage.ProductQuantity + oInOut.Quantity;
            BsStorage.StorageUpdate(oStorage);

            oProduct.TotalQuantity = oProduct.TotalQuantity + oInOut.Quantity;
            BsProduct.ProductUpdate(oProduct);

            message = $"The product {oProduct.ProductName} was saved";
        }
        else
        {
            if (ItsBiggerThanZero(oInOut.Quantity, oStorage.ProductQuantity))
            {
                oStorage.ProductQuantity = oStorage.ProductQuantity - oInOut.Quantity;
                BsStorage.StorageUpdate(oStorage);

                oProduct.TotalQuantity = oProduct.TotalQuantity - oInOut.Quantity;
                BsProduct.ProductUpdate(oProduct);

                message = $"The product {oProduct.ProductName} was saved";
            }
            else
            {
                message = $"There is not enough quantity in the warehouse for the product {oProduct.ProductName}";
            }
        }
    }

    private bool ItsBiggerThanZero(int quantity, int storageQuantity)
    {
        if (storageQuantity > quantity)
        {
            return true;
        }
        return false;
    }
}
