@using MyFirstWeb.Models;

@model Course

@{
    ViewData["Name"] = @Model.Name;
    Layout = "_Layout";
}

<h1>@ViewData["Name"]</h1>
<h2>@ViewBag.ExtraMessage</h2>

<div class="row">
    <div class="col">
        <p>Name: @Model.Name <br/>Id: @Model.Id</p>
    </div>
    <div class="col align-content-end">
        <a class="btn btn-outline-primary" href="/course"><i class="fa-solid fa-circle-left"></i> Back to School</a>
        <a class="btn btn-success" href="/subject/create/?id=@Model.Id"><i class="fa-solid fa-plus"></i> Add Subject</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class =  "table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th >Actions</th>
                </tr>
            </thead>
        <tbody>
        @foreach(var subject in Model.Subjects)
        {
            <tr>
                    <td>@subject.Name</td>
                <td>
                    <a class="btn btn-primary" href="/subject/index/@subject.Id"><i class="fa-solid fa-eye"></i> Details</a>
                    <a class="btn btn-secondary" href="/subject/edit/@subject.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a class="btn btn-danger" href="/subject/delete/@subject.Id"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
        </tbody>
        </table>
    </div>
</div>
<p><i>@ViewBag.Date</i></p>