@page "/"

@using Entities
@using Business

<title>Lucky Luck | Index</title>

<a class="btn btn-success" href="product/create"><i class="fa-solid fa-plus"></i> New Product</a> 
<a class="btn btn-secondary" href="storage/create"><i class="fa-solid fa-box-open"></i> Store Product</a>
<a class="btn btn-warning" href="inouts"><i class="fa-solid fa-right-left"></i> Register an Entry or an Exit</a> 
<hr/>
<div class="input-group mb-3">
    <select class="form-select"  @onchange="CategoryChange">
        @if (! categories.Any() )
        {
            <option> You have to create a category</option>
        }
        else
        {
            <option>Come on! Select a category...</option>
        }

        @foreach (var category in categories)
        {
            <option value="@category.CategoryId">@category.CategoryName</option>
        }
    </select>
    <a class="btn btn-danger" href="categories"><i class="fa-solid fa-tags" data-fa-transform="flip-h"></i> Categories</a>
</div>
<hr/>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Category</th>
            <th>Quantity in Storage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.ProductId</td>
                <td>@product.CategoryId</td>
                <td>@product.TotalQuantity</td>
                <td>
                    <a class="btn btn-primary" href="product/@product.ProductId" data-bs-toggle="tooltip" data-bs-placement="top" title="View Product Details"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-secondary" href="product/update/@product.ProductId"  data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Product"><i class="fa-solid fa-pen"></i></a>
                    <a class="btn btn-danger" href="product/remove/@product.ProductId" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Product"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!products.Any()) 
{
    <div class="text-center text-secondary">
        <h2>
            <i class="fa-regular fa-face-grin-beam fa-2xl"></i>
            <br/>
            @nullmessage <a class="btn btn-outline-success" href="product/create">create a product</a>
        </h2>
    </div>
}

@code {
    List<Product> products = new List<Product>();
    List<Category> categories = new List<Category>();
    string nullmessage = "Don't worry, you just have to ";

    protected override async Task OnInitializedAsync()
    {
        products = BsProduct.ProductList();
        categories = BsCategory.CategoryList();
    }

    private void CategoryChange(ChangeEventArgs e)
    {
        products = products.Where(c => c.CategoryId == e.Value.ToString()).ToList();
    }
}
