@using Entities
@using Business

<title>Manew | @oProduct.ProductName Product View</title>

<style>
    .btns {
        border-radius: 30px;
    }

        .btns:hover {
            color: #DC3545;
        }
</style>

<div class="container">
    <div class="row-cols-1">
        <h4><a class="" href=""><i class="text-danger fa-solid fa-angle-left"></i></a> Viewing @oProduct.ProductName</h4>
        <table class="table table-borderless table-rounded">
            <tbody>
                <tr style="border-radius: 10px;" class="">
                    <th>Name</th>
                    <td>@oProduct.ProductName</td>
                </tr>
                <tr style="border-radius: 10px;" class="">
                    <th>ID</th>
                    <td>@oProduct.ProductId</td>
                </tr>
                <tr style="border-radius: 10px;" class="">
                    <th>Category</th>
                    <td>@oProduct.Category.CategoryName (@oProduct.CategoryId)</td>
                </tr>
                <tr style="border-radius: 10px;" class="">
                    <th>Quantity in Storage</th>
                    <td>@oProduct.TotalQuantity</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Description</th>
                    <td>@oProduct.ProductDescription</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<a class="btns btn btn-light border border-danger" href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Back"><i style="padding-right: 4px;" class="text-danger fa-solid fa-angle-left"></i> BACK</a>
<a class="btns btn btn-light border border-danger" href="product/update/@oProduct.ProductId" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Product"><i style="padding-right: 4px;" class="text-danger fa-solid fa-pencil"></i> EDIT</a>


@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();

    protected override async Task OnInitializedAsync()
    {
        oProduct = BsProduct.ProductById(IdProduct);
    }
}