@using Entities
@using Business

<dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">@oProduct.ProductName</dd>
  
  <dt class="col-sm-3">Reference</dt>
  <dd class="col-sm-9">@oProduct.ProductId</dd>

  <dt class="col-sm-3">Category</dt>
  <dd class="col-sm-9">@oProduct.Category.CategoryName (@oProduct.CategoryId)</dd>

  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">@oProduct.ProductDescription</dd>

  <dt class="col-sm-3">Quantity in Storage</dt>
  <dd class="col-sm-9">@oProduct.TotalQuantity</dd>
</dl>

<a class="btn btn-primary" href=""><i class="fa-solid fa-angles-left"></i> Back</a>
<a class="btn btn-secondary" href="product/update/@oProduct.ProductId"><i class="fa-solid fa-pen"></i></a>

@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();
    
    protected override async Task OnInitializedAsync()
    {
        oProduct = BsProduct.ProductById(IdProduct);
    }
}