@using Entities
@using Business

<div class="modal-dialog modal-dialog-centered">
    <div class="form-group">
        <h5><strong>Name:</strong> @oProduct.ProductName</h5>
        <hr/>
        <h6><strong>Category:</strong> @oProduct.Category.CategoryName (@oProduct.CategoryId)</h6>
        <hr/>
        <h6><strong>Referen</strong> @oProduct.ProductId</h6>
        <hr/>
        <h6><strong>Quantity in Storage:</strong> @oProduct.TotalQuantity</h6>

        <a class="btn btn-primary" href=""><i class="fa-solid fa-angles-left"></i> Back</a>
    </div>
</div>
@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();
    
    protected override async Task OnInitializedAsync()
    {
        oProduct = BsProduct.ProductById(IdProduct);
    }
}