@using Entities
@using Business

<title>Manew | @oProduct.ProductName Product Details</title>

    <style>
        body {
            margin: 0;
            font-family: 'Quicksand', sans-serif;
        }

        .login {
            width: 100%;
        margin-top: 100px;
            display: grid;
            place-items: center;
        }

        .form-container {
            display: grid;
            grid-template-rows: auto 1fr auto;
            width: 300px;
        }

        .title {
            font-size: var(--lg);
            margin-bottom: 40px;
            text-align: start;
        }

        .form {
            display: flex;
            flex-direction: column;
        }

            .form div {
                display: flex;
                flex-direction: column;
            }

            .form a {
                text-decoration: none;
            }

            .form a:hover {
                color: var(--hospital-green);
            }

        .label {
            font-size: var(--sm);
            font-weight: bold;
        }

        .login-btn {
            margin-top: 15px;
            margin-bottom: 30px;
        }

        .value {
            color: var(--very-light-pink);
            font-size: var(--md);
           margin: 8px 0 30px 0;
        }

    .secondary-btn {
        background-color: var(--white);
        height: 40px;
        border-radius: 8px;
        padding-top: 7px;
        font-size: var(--md);
        border: 1px solid var(--hospital-green);
        color: var(--hospital-green);
        font-weight: bold;
    }
    </style>

<body>
    <div class="login">
        <div class="form-container">
            <p class="title">
                <span><a href=""><i class="fa-solid fa-chevron-left title-icon fa-sm"></i></a></span>
                <span>@oProduct.ProductName</span>
            </p>

            <form action="/" class="form">
                <div>
                    <label for="name" class="label">Name</label>
                    <p id="name" class="value">@oProduct.ProductName</p>

                    <label for="product-id" class="label">ID</label>
                    <p id="product-id" class="value">@oProduct.ProductId</p>

                    <label for="product-category" class="label">Category</label>
                    <p id="product-category" class="value">@oProduct.Category.CategoryName (@oProduct.CategoryId)</p>

                    <label for="product-description" class="label">Description</label>
                    <p id="product-description" class="value">@oProduct.ProductDescription</p>
                </div>
                
                <a href="product/update/@oProduct.ProductId" class="secondary-btn login-btn text-center">Edit</a>
            </form>
        </div>
    </div>
</body>

@code {
    [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();

    protected override async Task OnInitializedAsync()
    {
        oProduct = BsProduct.ProductById(IdProduct);
    }
}