@using Entities
@using Business

<EditForm Model="oProduct">
    <div class="form-group">
        <h4>Name: @oProduct.ProductName</h4>
        <hr/>
        <h4>Category: @oProduct.Category (@oProduct.CategoryId)</h4>
        <hr/>
        <h4>Reference: @oProduct.ProductId</h4>
        <hr/>
        <h4>Quantity in Storage: @oProduct.TotalQuantity</h4>
    </div>
</EditForm>

@code {
        [Parameter]
    public string IdProduct { get; set; }

    Product oProduct = new Product();
    List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = BsCategory.CategoryList();
        oProduct = BsProduct.ProductById(IdProduct);
    }
}
